<div class="container-fluid background">
  <div class="row">
    <div class="col-md-8 mt-5">
      <h4 class="col-md-6 text-center"><span class="title">新規会員登録</span></h4>
    </div>
  </div>
  <div class="row">
    <div class='mx-auto col-md-12 mt-3'>
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group row">
          <%= f.label :name, "名前", class: "col-md-4 col-form-label text-center" %>
          <%= f.text_field :name, autofocus: true, class: "form-control col-md-6" %>
        </div>

        <div class="form-group row">
          <%= f.label :email, "メールアドレス", class: "col-md-4 col-form-label text-center" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "sample@example.com", class: "form-control col-md-6" %>
        </div>

        <div class="form-group row">
          <%= f.label :password, "パスワード(6文字以上)", class: "col-md-4 col-form-label text-center" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control col-md-6" %>
        </div>

        <div class="form-group row">
          <%= f.label :password_confirmation, "パスワード(確認用)", class: "col-md-4 col-form-label text-center" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control col-md-6" %>
        </div>

        <div class="action ml-3">
          <%= f.submit "新規登録", class: "btn btn-success col-md-3 offset-md-4 mt-3" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3">
      <h4 class="text-center"><span class="title">既に登録済みの方</span></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3">
      <p class="text-center"><%= link_to 'こちら', new_user_session_path %>からログインしてください。</p>
    </div>
  </div>
</div>
