<% if user_signed_in? %>
  <% if @ramen.favorited_by?(current_user) %>
    <p>
      <%= link_to ramen_favorites_path(@ramen), method: :delete, remote: true do %>
        <i class="fas fa-heart"></i>
      <% end %>
      <%= @ramen.favorites.count %>人がオススメしてます
    </p>
      <% else %>
    <p>
      <%= link_to ramen_favorites_path(@ramen), method: :post, remote: true do %>
        <i class="far fa-heart"></i>
      <% end %>
      <%= @ramen.favorites.count %>人がオススメしてます
    </p>
  <% end %>
<% else %>
  <p><i class="far fa-heart"></i><%= @ramen.favorites.count %>がオススメします</p>
<% end %>