<div class="container-fluid background">
  <div class="row">
    <div class='col-md-2'>
      <table class="table table-bordered mx-2 mt-5">
        <div class='col-md-3'>
          <%= render 'layouts/category_table', categories: @categories %>
        </div>
      </table>
    </div>
    <div class='col-md-10'>
      <div class = "card-list-container py-3">
        <div class="row w-75 mx-auto">
          <h3 class="my-2 mt-5 font-weight-bold"><%= @ramen.shop_name %></h3>
        </div>
        <div class="card w-75 mx-auto mt-4 shadow-lg">
          <%= attachment_image_tag @ramen, :image, class: "card-img-top";%>
          <div class = "card-body mx-2">
            <div class = "card-title">
              <div class=<%= "favorite_buttons_" + @ramen.id.to_s %>>
                <%= render "favorites/favorites_btn", ramen: @ramen %>
              </div>
              <div class="row">
                <div class="col-2">[カテゴリ]</div>
                <div class="col-8"><%= @ramen.category.name %></div>
              </div>
              <div class="row">
                <div class="col-2">[住所]</div>
                <div class="col-8"><%= @ramen.prefecture.name %><%= @ramen.city %><%= @ramen.street %></div>
              </div>
              <div class="row">
                <div class="col-2">[駐車場]</div>
                <div class="col-8 mb-5"><%= @ramen.parking_lot_i18n %></div>
              </div>
              <div class="row justify-content-center">
                <div id='map'></div>
              </div>
              <div class="row justify-content-end mt-3 mr-2">
                <p>[投稿日]<%= l @ramen.created_at, format: :short %></p>
                <p>[投稿者]<%= @ramen.user.name %></p>
              </div>
              <div class="row justify-content-end mt-3 mr-2">
                <% if current_user.following?(@ramen.user) %>
                  <%= link_to "フォロー外す", user_relationships_path(@ramen.user_id), method: :delete, class: "btn btn-primary" %>
                <% else %>
                  <%= link_to "フォローする", user_relationships_path(@ramen.user_id), method: :post, class: "btn btn-success" %>
                <% end %>
              </div>
              <div class="row justify-content-end mr-2">
                <% if @ramen.user == current_user %>
                  <%= link_to "投稿を削除", ramen_path(@ramen), method: :delete %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-75 mx-auto row justify-content-center">
        <%# URL が正しく生成されないため %>
        <%= form_with(model:[@ramen, @post_comment], url: ramen_post_comments_path(@ramen.id)) do |f| %>
          <%= f.text_area :comment, rows:'3', cols:"80", placeholder: "コメントをここに" %>
          <div class="star-form-group" id="star1">
            <%= f.label :rate,'評価', class:'star-title' %>
          </div>
          <% if user_signed_in? %>
            <%= f.submit "送信する" %>
          <% else %>
            <p>ログインしていないとコメントできません</p>
          <% end %>
        <% end %>
      </div>
      <div class="comment_all w-75 mx-auto">
        <%= render "post_comments/comment_table", ramen: @ramen ,post_comment: @post_comment %>
      </div>
    </div>
  </div>
</div>

<style>
#map {
  height: 400px;
  width: 653.5px;
}
</style>


<script>
$('#star1').raty({
  size     : 38,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  scoreName: 'post_comment[rate]',    //カラムに保存
  half: true,
});

function initMap() {

  var target = document.getElementById('map'); //マップを表示する要素を指定
  var address = '<%= @ramen.prefecture.name %><%= @ramen.city %><%= @ramen.street %>'; //住所を指定
  var geocoder = new google.maps.Geocoder();

  geocoder.geocode({ address: address }, function(results, status){
    if (status === 'OK' && results[0]){

      console.log(results[0].geometry.location);

       var map = new google.maps.Map(target, {
         center: results[0].geometry.location,
         zoom: 18
       });

       var marker = new google.maps.Marker({
         position: results[0].geometry.location,
         map: map,
         animation: google.maps.Animation.DROP
       });

    }else{
      //住所が存在しない場合の処理
      alert('住所が正しくないか存在しません。');
      target.style.display='none';
    }
  });
}
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>