<div class="container-fluid">
  <div class = "card-list-container py-3">
    <h2><strong><%= @ramen.shop_name %></strong></h2>
    <div class="card w-75 mx-auto mt-4 shadow-lg">
      <%= attachment_image_tag @ramen, :image ,class:"card-img-top";%>
      <div class = "card-body">
        <div class = "row">
          <p class = "card-title">
            <%= @ramen.address %></br>
            #<%= @ramen.category_i18n %>
            <%= @ramen.parking_lot_i18n %>
          </p>
        </div>
        <div>
          <% if @ramen.user == current_user %>
            <%= link_to "削除", ramen_path(@ramen), method: :delete %>
          <% end %>
          <div class=<%= "favorite_buttons_" + @ramen.id.to_s %>>
            <%= render "favorites/favorites_btn", ramen: @ramen %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comment_all">
    <%= render "post_comments/comment_table", ramen: @ramen ,post_comment: @post_comment %>
  </div>
  <div>
    <%# URL が正しく生成されないため %>
    <%= form_with(model:[@ramen, @post_comment], url: ramen_post_comments_path(@ramen.id)) do |f| %>
      <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
      <div class="star-form-group" id="star1">
        <%= f.label :rate,'評価', class:'star-title' %>
      </div>
      <% if user_signed_in? %>
        <%= f.submit "送信する" %>
      <% else %>
        <p>ログインしていないとコメントできません</p>
      <% end %>
    <% end %>
  </div>
</div>

<script>
$('#star1').raty({
  size     : 38,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  scoreName: 'post_comment[rate]',    //カラムに保存
  half: true,
});

</script>